extends layout

block content

    ol.breadcrumb
        li.active Admin

    ul
        li
            a(href="/admin/message") Editer le message d'accueil
        li
            a(href="/admin/contacts_list") Editer la liste d'emails
        li
            a(href="/admin/scheduled") Editer les horaires d'ouverture
        li
            a(href="/admin/articles") Editer les articles
