extends layout

block content

    //- Error or Success section
    if mail_ok
        div.alert.alert-success #{mail_ok}
    if mail_not_ok
        div.alert.alert-danger #{mail_not_ok}

    //- Panel for sending mail
    div.panel.panel-info
        div.panel-heading #{title}
        div.panel-body
            p Bienvenue ! Vous pouvez utiliser le formulaire ci-dessous pour notifier un responsable FABLAB !
            //- Form
            form.form-horizontal(name="send_mail", method="post", action="/")
                div.form-group
                    label(for="textareaMessage") Saisissez votre message :
                    textarea#textareaMessage.form-control(type="text", name="content")
                button.btn.btn-primary(type="submit") Envoyer