extends layout

block content

    if message != ''
        div.alert.alert-danger #{message}

    form.form-horizontal(action="/admin/login" method="post")
        div.from-group
            label.control-label.col-sm-2 Email:
            div.col-sm-10
                input.form-control(type="email" name="email")
        div.form-group
            label.control-label.col-sm-2 Password:
            div.col-sm-10
                input.form-control(type="password" name="password")
        div.form-group
            div.col-sm-offset-2.col-sm-10
                button.btn.btn-default(type="submit") Log In