//-Created by Tabs on 16/10/2016.

block navigation
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                a.navbar-brand FABLAB Grenoble
            if isAuthenticated
                div.navbar-form.navbar-right
                    a(href='/admin/logout')
                        button.btn.btn-danger(type="button") Déconnexion
            else
                div.navbar-form.navbar-right
                    a(href='/admin/login')
                        button.btn.btn-primary(type="button") Connexion